/*The topmost navigation bar*/

body{
  background-color: black;
  font:"Gill Sans" ;
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	font-family: , "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh; */
}


.header{
  display: inline-block;
  margin-left: 15vw;
  margin-top: 10vh;
  padding: 10px;
  color: white;
  font-size: 5vw;
  font-weight: 100;
  font-family: Verdana;
  width: 35%;
  overflow: auto;
  text-shadow: 3px 3px grey;
}

.navbar{
  display: block;
  color: white;
  font-family: monospace;
  background-color: black;
  padding: 8px;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
  overflow: hidden;
  box-shadow: 2px 2px 8px #000000;
}

.navbar a {
  font-family: sans-serif;
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
}

/* Change the color of links on hover */
.navbar a:hover {
  box-shadow: 0px 2px  whitesmoke;
  font-weight:bolder;
  transition: 0.5s;
  color: #C0C0C0;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: #e4ba4e;
}

/* the center container below navbar*/
.container{
  width: 100%;
  background: linear-gradient(140deg,rgb(71, 70, 59), rgb(185, 185, 185), #b49636 ,rgb(183, 180, 180), #ffc404 );
  animation: gradient 10s ease infinite; 
  background-size: 400% 400%;
}


@keyframes gradient{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

/*graphics page break in between*/
.pagebreak{
  display: block;
  width: 100%;
  height: 8vh;
  background: linear-gradient(40deg,rgb(71, 70, 59), rgb(223, 211, 211), #ac8d27 ,rgb(100, 97, 97), #ffc609 );
  margin-bottom: 10px;
  animation: gradient 7s ease infinite; 
  background-size: 400% 400%;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.contentbox{
  padding: 20px;
  background-color: black;
  color: white;
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  display: inline-block;
}

/* content inside transfer money*/
.subcontent{
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
  background-color: black;
  color: white;
  transition: 0.3s;
  width: 70%;
  display: inline-block;
  box-shadow: 2px 2px 2px 2px rgba(255, 217, 0, 0.618);
  border-radius: 10px;
  margin: 10px;
  height: max-content;
}

/*hovered menu - yellow box*/
.contentbox h1{
  font-family: 'Trebuchet MS';
  font-size: 30px;
  color: white;
  background-color: #FF8C00;
  border-radius: 10px;
  border-style: double;
  border: 2px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
  overflow: auto;
}

/*hovered menu - yellow box*/
.contentbox h3{
  font-size: 18px;
  display: inline-block;
  padding-right: 5px;
  margin: 10px;
  font-family: 'Trebuchet MS';
  color: white;
  width: 20vw;
  overflow: auto;
}

.input{
  padding: 2px;
  padding-right: 10px;
  margin-right: 10%;
  margin: 5px;
  width: 35%;
}
.contentbox:hover{
  transition: 0.3s;
  border: 2px solid grey;
  box-shadow: 8px 8px 15px grey;
  border-radius: 10px;
}

.content{
  padding-left: 10vw;
  padding-right: 10vw;
}

.button{
  align-self: center;
  align-content: center;
  font-family: Verdana;
  font-size: 14px;
  background-color: #FF8C00;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  padding: 12px;
  margin: 0px;
  width:fit-content;
}

.button:hover{
  cursor: pointer;
  box-shadow: 2px 2px grey;
  background-color: #ffc404;
}

/* Bottom of the page*/
.footer{
  width: 100%;
  display: block;
  color: white;
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
  background-color: black;
  padding: 2px;
  margin-top: 2px;
}

.contentbox option{
  width: 80%;

}

@media screen and (max-width: 800px) {
  .container{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}